
<br/><br/><br/>
<br/><br/><br/>
<!-- Login -->
<div class="lc-block toggled" id="l-login">

    <div ng-if="vm.error" class="alert alert-danger">
      {{ vm.error }}
    </div>

    <form name="loginForm" ng-submit="vm.login()" novalidate>
        <!-- USERNAME -->
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text"
                       name="username"
                       class="form-control"
                       placeholder="Nome de usuário"
                       ng-model="vm.credentials.username"
                       ng-required="true">
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
            <div class="fg-line">
                <input type="password"
                       name="password"
                       class="form-control"
                       placeholder="Senha"
                       ng-model="vm.credentials.password"
                       ng-required="true">
            </div>
        </div>
      <div class="clearfix"></div>

      <button
         type="submit"
         class="btn btn-login btn-danger btn-float"
         ng-disabled="loginForm.$invalid">
              <i class="zmdi zmdi-arrow-forward"></i>
      </button>
    </form>

    <br/>
    <button class="btn btn-primary" ui-sref="auth.register">Cadastrar-se</button>
</div>