
<form name="postForm"
      data-ng-submit="vm.submit()" novalidate>

    <div class="card wall-posting">
        <div class="card-body card-padding">

            <textarea class="wp-text"
                      style="height:100px;"
                      data-auto-size=""
                      data-ng-model="vm.formData.content"
                      data-ng-required="true"
                      placeholder="Escreva algo...">
            </textarea>

            <div class="wall-img-preview lightbox clearfix" data-ng-show="vm.storedImage">
              <img class="wip-item" data-ng-src="{{ vm.storedImage.url() }}" style="padding:0;" />
            </div>
            <div class="tab-content p-0" ng-hide="vm.storedImage">

                <div class="wp-media tab-pane" id="wpm-image" style="cursor: pointer;">
                      <div ngf-drop ngf-select
                           ngf-change="vm.addImages($files)"
                           ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                           ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
                           ngf-drop-available="true">
                        <div>Clique aqui para selecionar uma imagem</div>
                        <div>
                          <strong>Ou</strong>
                        </div>
                        Arraste uma imagem aqui
                      </div>
                </div>
            </div>
        </div>
        <ul class="list-unstyled clearfix wpb-actions">
            <li class="wpba-attrs">
                <ul class="list-unstyled list-inline m-l-0 m-t-5">
                    <li ng-hide="vm.storedImage">
                        <a data-wpba="image"
                           data-toggle="tab"
                           href="javascript:void(0);"
                           data-target="#wpm-image">
                                <i class="zmdi zmdi-image"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pull-right">
                <button
                    data-ng-disabled="postForm.$invalid && !vm.storedImage"
                    data-ng-click="vm.setTypeGood();"
                    class="btn btn-success btn-sm waves-effect">
                        Que massa!
                </button>

                <button
                    data-ng-disabled="postForm.$invalid && !vm.storedImage"
                    data-ng-click="vm.setTypeAverage();"
                    class="btn btn-warning btn-sm waves-effect">
                        Que tal?
                </button>

                <button
                    data-ng-disabled="postForm.$invalid && !vm.storedImage"
                    data-ng-click="vm.setTypeBad();"
                    class="btn btn-danger btn-sm waves-effect">
                        Que pena
                </button>
            </li>
        </ul>
      </div>
</form>