
<ul class="header-inner">
<li id="menu-trigger" data-trigger="#sidebar" class="">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
    <li class="logo hidden-xs">
        <a href="javascript:void(0);">Que tal?</a>
    </li>
    <li class="pull-right">
        <ul class="top-menu">
            <li>
                <a href="javascript:void(0);" data-ng-click="baseCtrl.logout()">
                    <i class="tm-icon zmdi zmdi-power-off"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>
